@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');
@import'./library.css';

body {
    background-color: rgb(210, 207, 203);
}
/* start-header*/
.header {
    background-color: #FFFFFF;
    padding: 20px;

}


header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 1px;
    box-shadow: 0px 1.65px 11px 4px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 40px;
}

header .select {
    font-weight: 900;
}

.logo a {
    font-family: "Roboto", sans-serif;
}

header .nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16.47px;
    font-family: var(--mainFont);

}

header .menu {
    display: none;
}

header .nav a {
    color: #101928;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    gap: 7.28px;
}

.login {
    color: var(--mainColor);
    font-family: var(--subFont);
    border: 3px solid var(--mainColor);
    border-radius: 6px;
    padding: 5.3541765213012695px 20.18113136291504px;

}
.Register {
    color: #FFFFFF;
    font-family: var(--subFont);
    border: 3px solid var(--mainColor);
    background-color: var(--mainColor);
    border-radius: 6px;
    padding: 5.3541765213012695px 20.18113136291504px;

}
/*end-header*/
section{
    padding: 31px 20px;
    background-color: #fff;
    font-family: var(--mainFont);
}
/*start-section-one*/
.right-course .row{
    align-items: flex-start;
}
.start-section-rightCourse{
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}
.start-section-rightCourse .main{
color:var(--mainColor);
}
.main span{
    font-weight: 600;
}
.find{
    font-size:50px;
    font-weight: 900;
}
.find span{
    color:var(--mainColor)
}
.random{
   color:#969696;
}
.register-palyVideo{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    gap:20px;
}
.play{
    background-color: var(--subColor);
    padding: 4px 6px 4px 8px;
    border-radius: 50%;
}
.end-section-rightCourse{
    width: calc((100% - 30px) / 2);
     
}
.right-course .image{
    text-align: center;
}
.right-course img{
    width: 100%;
}
/*end-section-one*/
/*start-section-two*/
.rowColumn{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.upper-section .row{
    align-items: flex-start;
}
.upper-section .start-section-what-we-give{
    width:calc( (100% - 30px) / 5);
}

.start-section-what-we-give span{
    font-family: var(--subFont);
    color:var(--mainColor);
}
.start-section-what-we-give h2 {
    font-size: 40px;
    font-weight: 800;
}
.start-section-what-we-give p{
    color:#969696;
    font-size: 14px;
}
.end-section-what-we-give{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
   
    width: calc((100% - 10px) / 1.5);
}
.option{
        width: calc((100% - 120px) / 4);
        background-color: var(--mainColor);
        border-radius: 10px;
        padding: 50px 0px 50px 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap:10px;
        justify-content: flex-start;
        align-items: flex-start;
        color:#fff;
}
.user{
    color:var(--subColor);
    padding: 10px 11px;
    background-color: #fff;
    border-radius: 50%;
}
.graduation{
    color:var(--subColor);
    padding: 10px 9px;
    background-color: #fff;
    border-radius: 50%;

}
.award{
    color:var(--subColor);
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 50%; 
}
.play-vedio{
    color:var(--subColor);
    padding: 10px 12px 10px 14px;
    background-color: #fff;
    border-radius: 50%; 
}
.option h3{
    font-size: 16px;
    font-family: var(--subFont);
}
.option p{
    font-size:11px;
    font-weight: 200;
}
.lower-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 25px;
    width :100%;
}
.lower-section i{
    color: var(--subColor);

}
/*end-section-two*/
/*start-section-third*/
.taking-course{
    background-color: var(--mainColor);
}
.taking-course .image{
    width:calc( ( 100% - 30px ) / 2);
    text-align: center;
}
.taking-course img{
    width:100%;
  
}
.selected-course{
    width:calc( ( 100% - 30px ) / 2);
   display:flex;
   flex-wrap:wrap;
   flex-direction: column;
   gap:20px;
   color:#fff;
}
.selected-course a
,.num{
    color:var(--subColor);
}
.number
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--subFont);
}
.number-of-thing{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    text-align: center;
}


/*end-section-third*/

/*start-section-four*/
.courses .row{
 align-items: flex-start;

}
.start-sectionCourses{
    width: calc((100% - 20px) / 1.6);
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
.course{
    width:calc( 50% - 10px);
}
.course img{
    width:100%; 
    filter: brightness(70%);    
}
.course-img{
    position: relative;
}
.cost-det{
    position: absolute;
    top: 15px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
   
}
.best{
    background: var(--mainColor);
    color: white;
    padding: 5px;
}
.cost{
    padding: 30px 10px;
    color: white;
    align-self:flex-end;
}
.course-type{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.course-type span{
    font-size: 12px;
    color: var(--mainColor);
}
.detailse{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
    color: #969696;
   
}
.end-sectionCourses{
    width: calc(100% / 3);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:10px;
}
.end-sectionCourses span{
    font-family: var(--subFont);
    font-weight: 300px;
    color:var(--mainColor)
}
.end-sectionCourses h2{
    width:50px;
    font-size:30px;
}
.end-sectionCourses p{
    color: #969696;
}
.end-sectionCourses a{
    width:fit-content;
    color: #FFFFFF;
    font-family: var(--subFont);
    border: 3px solid var(--mainColor);
    background-color: var(--mainColor);
    border-radius: 6px;
    padding: 5.3541765213012695px 20.18113136291504px;

}
/*end-section-four*/
/*start-section-five*/
.Testimonials .container h2{
  text-align: center;
  font-family: "Mada", sans-serif;
}
.Testimonials .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.Testimonial{
    width:calc((100% - 20px) / 2);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:10px;
    position:relative;
}
.Testimonial::after{
    position: absolute;
    content: "";
    border-left: 40px solid transparent;
    border-right: 40px solid #F4F4F4;
    border-top: 40px solid #F4F4F4;
    border-bottom: 40px solid transparent;
    top: 0px;
    right: 0px;
}
.informaition{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 10px;
}
.informaition img{
width:40px;
height:40px;
border-radius:50%;
}
.informaition span{
    color:#969696;
}
q{
    color:#646464;
}
/*end-section-five*/
/*start-footer*/
footer {
    padding: 40px 20px;
    background-color: #393E46;
    color: #FFFFFF;
    font-family: var(--mainFont);
}

footer .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

}

.start-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 400px;
}

footer .icon img {
    width: 20px;
    height: 20px;
    padding: 10px;
    border: solid 1px;
}

.end-footer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
}

footer .nav {
    margin-top: 20px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

footer a {
    color: #ffffff;
}

/*end-footer*/
/*start-media-Query*/
@media screen and (max-width :1200px) {
    .start-footer {
        width: 100%;

    }
  
    .end-footer {
        width: 100%;

    }
    
}

@media screen and (max-width :999px) {

    .header .nav,
    .auth {
        display: none;
    }

    header .menu {
        display: block;
        order: 2;
    }
    .find{
        font-size: 40px;
    }
    .upper-section .row{
        flex-direction: column;
        gap:20px;
    }
    .upper-section .start-section-what-we-give{
        width:100%;
    }
    .end-section-what-we-give{
 
        width: 100%;
    }
    

}


@media screen and (max-width :850px){
    
.courses .row{
    flex-direction: column;
    gap:20px;
}
    .start-sectionCourses{
        width: 100%;
        
    }
    .end-sectionCourses{
        width: 100%;
    }
    .taking-course .image{
     width:100%;
    }
    .selected-course{
        width:100%;
    }
    .right-course .row{
        flex-direction: column;
        gap:20px;
    }
    .start-section-rightCourse{
        width:100%;
    }
    .end-section-rightCourse{
        width:100%;
    }
    .option{
        width:25%;
    }
}


@media screen and (max-width :710px) {

    .logo {
        gap: 6px;
    }

    .logo img {
        width: 25px;
    }

    .logo a {
        font-size: 12px;
    }

    .start-footer {

        font-size: 10px;
    }

    footer .icon img {
        padding: 5px;
        width: 10px;
        height: 10px;
    }

    footer .h2 {
        font-size: 15px;
    }

    .items {
        width: 50%;
        margin-top: 20px;
        font-size: 10px;
    }
  .option{
   width: calc((100% - 50px) / 2);
  }
   

}

@media screen and (max-width :620px) {
    .container {
        width: calc(100% - 60px);
    }
    
.Testimonial{
    width:100%;
}
.course{
    width: 100%;
}
}

@media screen and (max-width :430px) {
    .items {
        width: 100%;

    } 
    .option{
        width:100%;
    }
   

}
/*end-media-Query*/