@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import'./library.css';

body {
    background-color: rgb(210, 207, 203);
}

.header {
    background-color: #FFFFFF;
    padding: 20px;

}


header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 1px;
    box-shadow: 0px 1.65px 11px 4px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 40px;
}

header .select {
    font-weight: 900;
}

.logo a {
    font-family: "Roboto", sans-serif;
}

header .nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16.47px;
    font-family: var(--mainFont);

}

header .menu {
    display: none;
}

header .nav a {
    color: #101928;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    gap: 7.28px;
}

.login {
    color: var(--mainColor);
    font-family: var(--subFont);
    border: 3px solid var(--mainColor);
    border-radius: 6px;
    padding: 5.3541765213012695px 20.18113136291504px;

}

.Register {
    color: #FFFFFF;
    font-family: var(--subFont);
    border: 3px solid var(--mainColor);
    background-color: var(--mainColor);
    border-radius: 6px;
    padding: 5.3541765213012695px 20.18113136291504px;

}

footer {
    padding: 40px;
    background-color: #393E46;
    color: #FFFFFF;
    font-family: var(--mainFont);
}

footer .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

}

.start-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 400px;
}

footer .icon img {
    width: 20px;
    height: 20px;
    padding: 10px;
    border: solid 1px;
}

.end-footer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

footer a {
    color: #ffffff;
}



@media screen and (max-width :1200px) {
    .start-footer {
        width: 100%;

    }
    .end-width{
        width :100%;
    
    }

}

@media screen and (max-width :999px) {

    .header .nav,
    .auth {
        display: none;
    }

    header .menu {
        display: block;
        order: 2;
    }
}



@media screen and (max-width :710px) {
   
    .logo {
        gap: 6px;
    }

    .logo img {
        width: 25px;
    }

    .logo a {
        font-size: 12px;
    }

    .start-footer {

        font-size: 10px;
    }

    footer .icon img {
        padding: 5px;
        width: 10px;
        height: 10px;
    }
    
    footer .h2 {
        font-size: 15px;
    }
    .items {
        width: 50%;
        margin-top: 10px;
        font-size: 10px;
    }
    


}

@media screen and (max-width :620px) {
    .container {
        width: calc(100% - 60px);
    }
}
@media screen and (max-width :430px) {
    .items {
        width: 100%;

    }

}